$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

 $background: #332C2C;
 $panel: #F7EFD2;

 body {
 	background: $background;
 	font-family: Georgia;
 }

body > div > div:nth-child(1) > div {
	background: $panel;
	border: 2px solid black;
	border-top: 0;
}

.btn-default {
	border: 2px solid black;
}

.btn-default:hover {
	border: 2px solid black;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'addbook/addbook.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'profile-edit/profile-edit.scss';
@import 'profile/profile.scss';
@import 'search/books/overview/search/books/overview.scss';
@import 'search/books/search/books.scss';
@import 'search/users/search/users.scss';
@import 'modal/modal.scss';
// endinjector